form.register {
    background-color: orange;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    width: 18%;
}

input {
    border-radius: 7px;
    border: 1px solid #555;
    padding: 3px;
    margin: 2px;
}

#logo-register {
    
}

form.login {
    
}