*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px ;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-image: url("../img/fondohomeguitarra.jpg");
    background-position: top right;
    background-attachment: fixed;
}

header {
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    position: sticky;
}

ul.paginas {
    padding: 17px;
}

#buscador {
    padding: 23px 0px 10px 50px;
}

ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
    display: flex;
    justify-content: center;
}

li {
    padding: 10px;
}

a { text-decoration: none; }
a:visited { text-decoration: none; color: black; }


form.register {
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border-radius: 7px;
    border: 1px solid #555;
    padding: 3px;
    margin: 2px;
}

#logo-register-login {
    height: 70px;
}

#logonombre {
    height: 70px;
}

.enviar-register {
    background-color: lightblue;
    border-radius: 5px;
    border: 1px solid #555;
    margin: 5px 20px;
}

#foto-product {
    width: 80%;
}

#seccion-product {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 1px;
}

main{
    display: flex;

    margin-top: 30px;
}
aside{
    background-color: rgba(255, 255, 255, 0.3);
    width: 10%;
    padding-top: 15%;
}

section.contenido{
    width: 90%;
    display: flex;
    flex-wrap: wrap;

}

#vermas {
    background-color: grey ;
    margin: 5px 10px;
    border: 5px ;
    border-radius: 2px;
}

section.art{
    display: flex;
    width: 100vw;
    margin: 0 10px 0 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}
article{
    background-color: rgba(255, 255, 255, 0.64);
    width: 497px;
    margin-top: 10px;
}

footer {
    background-color: lightgrey;
    margin: 10px 0px 0px 0px;
}

.index{
    width: 400px;
}

.titulos{
    width: 100vw;
    height: 173.5px;
    color: black;
    background-color: #555;
}
