body {
    font-family: "Roboto", sans-serif;
    background-image: url("../img/fondohomeguitarra.jpg");
    background-position: bottom right;
    background-repeat: repeat;
}

header {
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    width: 100%;
}

#buscador {
    padding: 23px 0px 10px 50px;
}

ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
    display: flex;
    justify-content: center;
}

li {
    padding: 10px;
}

a { text-decoration: none; }
a:visited { text-decoration: none; color: black; }


form.register {
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    width: 18%;
}

input {
    border-radius: 7px;
    border: 1px solid #555;
    padding: 3px;
    margin: 2px;
}

#logo-register-login {
    height: 70px;
}

#logonombre {
    height: 70px;
}

.enviar-register {
    background-color: lightblue;
    border-radius: 5px;
    border: 1px solid #555;
    margin: 5px 20px;
}

